body {
  color: white;
  background: #1e1e2c;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.navbar {
  background: #1e1e2cf2;
}

.navbar-nav li a {
  color: rgba(255, 255, 255, 0.73) !important;
  margin: 0px 5px;
}

.navbar-nav li:after {
  display: block;
  content: "";
  border-bottom: solid 2px #8900eb;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navbar-nav li:hover:after {
  transform: scaleX(1);
}
.navbar-nav li.fromRight:after {
  transform-origin: 100% 50%;
}
.navbar-nav li.fromLeft:after {
  transform-origin: 0% 50%;
}

.bb-1 {
  border-bottom: 1px solid #8500e449;
  padding: 10px;
}

#home {
  height: 100vh;
  max-height: 800px;
}

.profile-pic {
  background-color: #8900eb;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.365);
}

.profile-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.alternate-sec {
  background-color: #12121b;
}

.next-sec {
  position: absolute;
  bottom: 35px;
  font-size: 25px;
  transition: 0.5s;
  left: 48%;
}

.next-sec a {
  color: white !important;
}

.next-sec:hover {
  bottom: 25px;
}

.icon-width {
  font-size: 75px;
  color: #8900eb;
  transition: 0.4s;
}

.icon-width:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.carousel-item .card {
  height: 250px;
  padding-top: 15px;
}

@media screen and (max-width: 400px) {
  .carousel-item .card {
    height: 280px;
    padding-top: 15px;
  }
}

.project-info {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.883);
  position: absolute;
  width: 100%;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  height: 100%;
}

@keyframes projectinfo {
  from {
    opacity: 0;
    border-radius: 100%;
    bottom: -100%;
  }

  to {
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    opacity: 1;
    bottom: 0;
  }
}

.img-btn {
  left: 40%;
  bottom: 10px;
}

.project-item {
  position: relative;
  overflow: hidden;
}

.project-item:hover .project-info {
  visibility: visible;
  animation-name: projectinfo;
  border: 1px solid #8900eb49;
}

.btn-outline-dark {
  border: 1px solid #8900eb;
  color: white !important;
}

.btn-outline-dark:hover {
  background-color: #8900eb;
}

.bb {
  animation-name: border;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 20px;
}

@keyframes border {
  0% {
    box-shadow: inset 0px 0px 25px 0px #8900eb28;
  }

  50% {
    box-shadow: inset 0px 0px 25px 0px #8900eb56;
  }

  60% {
    box-shadow: inset 0px 0px 25px 0px #8900eb38;
  }

  100% {
    box-shadow: inset 0px 0px 25px 0px #8900eb33;
  }
}

.social-icon {
  width: 45px;
  height: 45px;
  background-color: #1e1e2c;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  font-size: 15px;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon a {
  color: #aa41f5;
}

.social-icon a:hover {
  color: #aa41f5;
}

.social-icon i {
  font-size: 25px;
  color: #8900eb;
  text-align: center;
  line-height: 45px;
}
@media screen and (max-width: 767px) {
  .display-4 {
    font-size: 3em;
    text-align: center;
    padding-top: 50px;
  }

  .header-desc {
    text-align: center;
  }

  #home {
    height: auto !important;
  }

  #home .container {
    padding-bottom: 70px;
  }

  .profile-pic {
    margin-top: 90px;
    width: 200px;
    height: 200px;
  }

  .next-sec {
    display: none;
  }

  .nav-link {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 425px) {
  .project-info h5 {
    font-size: 15px;
  }

  .project-info a {
    font-size: 14px !important;
  }

  .display-4 {
    font-size: 2em;
    text-align: center;
    padding-top: 50px;
  }
}
